.b01 {
    -fx-background-image: url("resources/FrontView/B01.png"); 
}
.b02 {
    -fx-background-image: url("resources/FrontView/B02.png"); 
}
.b03 {
    -fx-background-image: url("resources/FrontView/B03.png"); 
}
.b04 {
    -fx-background-image: url("resources/FrontView/B04.png"); 
}
.b05 {
    -fx-background-image: url("resources/FrontView/B05.png"); 
}
.b06 {
    -fx-background-image: url("resources/FrontView/B06.png"); 
}
.b07 {
    -fx-background-image: url("resources/FrontView/B07.png"); 
}
.b08 {
    -fx-background-image: url("resources/FrontView/B08.png"); 
}
.b09 {
    -fx-background-image: url("resources/FrontView/B09.png"); 
}
.b10 {
    -fx-background-image: url("resources/FrontView/B10.png"); 
}
.b11 {
    -fx-background-image: url("resources/FrontView/B11.png"); 
}
.b12 {
    -fx-background-image: url("resources/FrontView/B12.png"); 
}
.b13 {
    -fx-background-image: url("resources/FrontView/B13.png"); 
}
.b14 {
    -fx-background-image: url("resources/FrontView/B14.png"); 
}
.b15 {
    -fx-background-image: url("resources/FrontView/B15.png"); 
}
.zUpWheel {
    -fx-background-image: url("resources/FrontView/mouse_scroll_up.png");
}
.zDownWheel {
    -fx-background-image: url("resources/FrontView/mouse_scroll_down.png");
}
.middleWheel {
    -fx-background-image: url("resources/FrontView/mouse_middle_button.png");
}
.sv_b15 {
    -fx-background-image: url("resources/SideView/b15.png"); 
}
.sv_b16 {
    -fx-background-image: url("resources/SideView/b16.png"); 
}
.sv_d-left {
    -fx-background-image: url("resources/SideView/d-left.png"); 
}
.sv_d-up {
    -fx-background-image: url("resources/SideView/d-up.png"); 
}
.sv_d-right {
    -fx-background-image: url("resources/SideView/d-right.png"); 
}
.sv_d-down {
    -fx-background-image: url("resources/SideView/d-down.png"); 
}